

<!-- main app container -->
<div >
    <alert></alert>
    <navbar></navbar>
   
    
    <router-outlet></router-outlet>



<!-- credits -->
<div class="text-center mt-4"style="  padding-top: 500px;">
    <p>
        <a href="https://jasonwatmore.com/post/2020/07/18/angular-10-user-registration-and-login-example-tutorial" target="_top">Angular 10 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>

