

<div class="sidebar-container">
    <div class="sidebar-logo">
      Chapters
    </div>
    <ul class="sidebar-navigation">
      <!--<li class="header">Navigation</li>-->
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Chapter 1
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Chapter 2
        </a>
      </li>
      <!--<li class="header">Another Menu</li>-->
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Chapter 3
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Chapter 4
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Chapter 5
        </a>
      </li>
    </ul>

    
  </div>

  
  
  <div class="content-container">
  
    <div class="container-fluid">
  

  
    </div>
  </div>