
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell" style=" color: #92a8d1; ">
                <ul>
                    <h2 >Introduction to music notations</h2 >
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #f39317;">
    <div class="content">
        <div class="table">
           
            <a href="#" class="table-cell" routerLink="/content2" style=" color: #f39317;"><h2>Intervals of Second</h2></a>
          
        </div>
    </div>
</div>
<div class="square" style=" border-color: #42ae18;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #42ae18;">Intervals</h2 >
             
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #d74726;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #d74726;">Chapter 4</h2 >This demo shows you can center multiple types of content :
                    <li>Text</li>
                    <li>Images</li>
                    <li>Lists</li>
                    <li>... (you can also do it with forms)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #00a1de;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #00a1de;">Chapter 5</h2 >This demo shows you can center multiple types of content :
                    <li>Text</li>
                    <li>Images</li>
                    <li>Lists</li>
                    <li>... (you can also do it with forms)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="square" style=" border-color: #8d33aa;">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><h2 style=" color: #8d33aa;">Chapter 6</h2 >This demo shows you can center multiple types of content :
                    <li>Text</li>
                    <li>Images</li>
                    <li>Lists</li>
                    <li>... (you can also do it with forms)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
